
<form #loginForm="ngForm" (submit)="handleSubmit()">

    <label for="username">Username</label>
    <input
        type="text"
        name="username"
        [(ngModel)]="loginData.username"
        required
        #usernameInput="ngModel"
    >
    <span *ngIf="usernameInput.hasError('required') && usernameInput.touched" style="color: red;">Field required</span>

    <br>

    <label for="password">Password</label>
    <input
        type="password"
        name="password"
        [(ngModel)]="loginData.password"
        required
        #passwordInput="ngModel"
    >
    <span *ngIf="passwordInput.hasError('required') && passwordInput.touched" style="color: red;">Field required</span>

    <br>

    <button [disabled]="loginForm.invalid" type="submit">Login</button>

</form>
